
body{
    font-family: "Lato";
}
.background{
    background: rgb(232,232,232);
    background-repeat:no-repeat ;
    background-image: linear-gradient(to bottom,#051322,#154571);
    background-size: 100% 520px;
    display: flex;
    justify-content: center;
    font-family: "Lato";
}
.container{
        width: 1200px;
}
.logo{
    height: 50px;
    width: 112px;
}

/* nav */
.nav{
    display: flex;
    justify-content: space-between;
}
.login{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 60%;
    height: 50px;
    color: wheat;
    align-items: center;
    margin-left: 50px;

}
.login img{
    width: 100%;

}

.loginBtn{
    width: 150px;
    height: 40px;
    background-image: linear-gradient(93deg,#53b2fe,#065af3);
    border-radius: 10px;
}

.navpic{
    padding-left: 50px;
    border: 2px solid red;
}


.data{
   
    display: flex;
    justify-content: center;
    position: relative;
}
.categories {
    width: 950px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px #7a7a7a;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
.categories span{
    
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    align-items:center;
    flex-direction: column;     
}
.categories span:hover{
    color: #689dff;
    font-size:18px ;
}

.fa-solid{
    font-size: 24px;
}

.tickets{
    background-color: aliceblue;
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 75px;
    z-index: 1;
    border-radius: 10px;
    padding: 20px;
}

.ticket-type{
    margin-top: 50px;
    font-size: 14px;
    font-weight: 800;
}

.ticket-type span {
    padding: 5px;
}

.ticket-type span i{
    font-size: 14px;
}

.selected-ticket-type{
    background-color: rgb(211,211, 211);
    border-radius: 30px;
}

.flight-search{
    border:1px solid rgb(202,202, 202);
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
}
.flight-search input{
    border-top: white;
    border-left: white;
    border-right: white;
    background-color: aliceblue;
}

.flight{
    margin:  15px;
    color:rgb(33,32, 32);
    width: 300px;
    border-right: 1px solid rgb(196, 194, 194);
}

.userDetails{
    width: 90%;
    font-size: 25px;
}
.fare-search{
    margin-top: -33px ;
    margin-left: 20px;
    font-size: 14px;
    display: flex;
}
.fare-select{
    width: 80px;
    display: flex;
}

.selected-fare-type i{
    font-size: 14px;
    color: rgb(106, 106, 238)
}

.search-button {
    width: 216px;
    height: 44px;
    background-image: linear-gradient(93deg,#53b2fe,#065af3);
    color: white;
    font-size: 24px;
    /* text-align: center; */
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -20;
    /* padding-top: 20px; */
    left:40%;
    margin-top: 0px;
    /* margin-bottom: 25px; */
   
}

/* offers */
.offers{
    margin-top: 411px;
    background-color: aliceblue;
    width: 1200px;
    height: auto;
    top: 75px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
   flex-direction: column;
}

.allOffers{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

}
.allOffers h1{
    color: #065af3;
    font-style: italic;
    font-weight: bold;

}

.offerBody{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    gap: 20px;
   
}

.offerBox{
    display: flex;
    width: auto;
    height: auto;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 1px 15px 1px #7a7a7a;

}
.offerBox img{
    width: 157px;
    height: 198px;
    padding: 5px;
}

.offerBox h4{
    color: #065af3;
    padding-left: 110px;
    padding-bottom: 10px;

}

.plain{
    width: 1200px;
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.plainBox{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    /* margin: auto; */
    gap: 30px;
    margin-top: 40px;
    align-items: center;
    
}
.plainBox h4{
    color: #065af3;
}

.plainBox img{
    width: 100px;
    height: 90px;
}

.pic{
    margin-top: 20px;
    border-radius: 20px;
}

/* handpicked */
.handpicked{
    width: 1200px;
    height: auto;
    margin-top: 100px;
    /* border: 2px solid rgb(58, 8, 238); */
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}
.handpicked h1{
    padding-left: 10px;
    color: #7a7a7a;
}

.reel{
    display: flex;
    width: 1200px;
    height: auto;
    /* border: 2px solid red; */
}
.reelBox{
    width: 30%;
    height: 300px;
     /* border: 2px solid rgb(7, 192, 106); */
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-direction: column;
     padding: 10px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     /* gap: 100px; */

}
.reelBox img{
    width: 200px;
    height: 300px;
    z-index: 1;
    border-radius: 10px;
    /* position: absolute; */
    
}
.reelBox h3{
    color: rgb(245, 239, 239);
    z-index: 2;
    position: absolute;
    margin-top: 200px;
    margin-right: 100px;
    background: rgb(148, 146, 146);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}
.reelBox h4{
    color: rgb(251, 251, 253);
    z-index: 2;
    position: absolute;
    margin-top: 250px;
    margin-right: 0px;
    display: flex;
}

.Unlock-Lesser{
    width: 1200px;
    height: auto;
    margin-top: 100px;
    /* border: 2px solid rgb(58, 8, 238); */
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

.Unlock-Lesser{
    padding-left: 15px;
}

.unlock-body{
    display: flex;
    width: 1200px;
    height: auto;
    margin: auto;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.unlockBox{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    width: 200px;
    height:200px ;
}

.unlockBox img{
    width: 160px;
    height: 200px;
    z-index: 1;
    position: absolute;
    gap: 10px;
    border-radius: 10px;

 }

 .unlockBox h3{
    margin-left: 0px;
    z-index: 2;
    position: absolute;
    color: white;
    padding-top: 150px;

 }

 .trip{
    margin-top: 20px;
 }

 /* footer */
 .top {
    background-color: #333;
    padding: 30px 0px;
    margin-top: 50px;
}
.top > div {
    display: flex;
    color: white;
    font-size: 11px;
    width: 80%;
    margin: auto;
}

.top .left {
    width: 85%;
    padding: 0px 10px;
    
}
.top .left h4 {
    margin-bottom: 10px;
}
.top .right {
    width: 15%;
    padding: 0px 10px;
}
.top .right h3 {
    margin-bottom: 10px;
    color: #999
}
#social {
    display: flex;
}
#social img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.bottom {
    background-color: black;
    color: white;
    font-size: 13px;
}
.bottom > div {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.bottom .left {
    width: 50%;
}
.bottom .left table {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    height: 170px;
    border-right: 1px solid grey;
}
.bottom .left p {
    color: #999;
}
.bottom table a {
    text-decoration: none;
    color: white;
}
.bottom table th {
    font-size: 16px;
}
.bottom table th {
    margin: 10px 0px;
    /* border: 1px solid red; */
}
.bottom table td {
    margin: 10px 0px;
    /* border: 1px solid red; */
}
.bottom table td > a:hover {
    color: #ff2604;
    transition: 0.3s;
}

.bottom .right {
    width: 50%;
}
.bottom .right > div {
    width: 65%;
    margin: auto;
    /* border: 1px solid red; */
}
.bottom .right h3 {
    margin-bottom: 18px;
}
.bottom .right a {
    margin-bottom: 18px;
    margin-right: 40px;
}


#app-links {
    display: flex;
    text-align: center;
}
#app-links img {
    height: 40px;
}
#app-links a {
    text-decoration: none;
    color: white; 
}